/ = javascript_include_tag "iconic"
/ = stylesheet_link_tag "iconic-glyphs"

%section.notes
  %ul.block-grid
    - @notes.each do |note|
      %li
        .text
          = note.text
        .details
          / %span.fi-heart{:title => "heart"}
          / %span.fi-heart
          / %span{:class => "fi-heart"}
          = note.likes
          / %span{:class => "iconic", :'data-glyph' => "heart", :title => "heart"}
          / %i.fi-heart
          / %img{:src => "heart.svg", :alt => "Like"}
          = image_tag("heart.svg", :class => "icon", :title => "Like")
          / %img(:class => "iconic", :"data-src" => "heart.svg")
          / %img{:class => "iconic", :"data-src" => "heart.svg"}
          / %img.iconic(:"data-src" => "heart.svg")
          / Like
.container
  %section.feedback
    / = link_to("Add Note", new_note_path, class: 'feedback-button')
    = link_to "Add Note", new_note_path, :class => 'feedback-button'
    / %a{:href => "#", :class => "feedback-button"}
    /   Add Note