%p Discovery is a simple application for groups to generate ideas.

%p Use it for team meetings, stakeholder workshops, townhalls, or anything else you need a barrier-free way to quickly collect peoples' toughts.