%section.about
  :markdown
    # Discovery is a simple application for groups to generate **ideas**.

    Use it for team meetings, stakeholder workshops, townhalls, or anything else you need a *persistent* and *low-friction* way to quickly collect peoples' toughts.