h1 span{
	color: $smoke;
	// display: inline-block;
	font-size: 0.7em;
	margin: 0 0 0 1.8em;
}

.notes{
	@include grid-row();
	// margin: 1em;
	padding: 2em;
}
.block-grid{
	@include block-grid(1);
	@media #{$medium-up} {
		// clear: none !important;
		// @include block-grid($per-row: 2, $spacing: 20px);
		@include block-grid($per-row: 2);
	};

};
.block-grid li{
	// background: $charcoal;
	background: $white;
	// border: solid 1px $aluminum;
	// border: solid 1px $gainsboro;
	border: solid 1px $smoke;
	border-radius: $global-radius;
	margin-bottom: 1em;
	// margin-right: 1em;
	margin-top: 1em;
	min-height: 10em;
	overflow: hidden;
	// padding: 0;
	position: relative;
}
.block-grid .text{
	background: $white;
	padding: 1em;
	

}
.block-grid .details{
	background: $gainsboro;
	bottom: 0;
	display: block;
	font-size: 0.8em;
	height: 1.5em;
	left: 0;
	// overflow: hidden;
	padding: 0 0 0 1em;
	// position: relative;
	position: absolute;
	width: 100%;

}
.details .icon{
	// fill: $charcoal;
	fill: red;
	height: 0.8em;
	// height: 12px;
	margin: 0 0 0.15em 0;
	// stroke: $charcoal;
	stroke: red;
	width: 0.8em;
	// width: 12px;
}
.container{
	background: rgba(255,255,255,0.8);
	bottom: 0;
	display: block;
	position: fixed;
	width: 100%;
	
}
.feedback{
	@include grid-row();
	// margin-bottom: 0 auto;
	padding: 0.5em;
}
.feedback-button{
	@media #{$small-only} {
		@include button(
			$button-med,
			$primary-color,
			true,
			true,
			false
			// $radius: $global-radius,
			// $full-width: true
		);
		margin: 0;
	}
	@media #{$medium-up} {
		@include button(
			$button-med,
			$primary-color,
			true,
			false,
			false
			// $radius: $global-radius,
			// $full-width: false
		);
		float: right;
		margin: 0;
		min-width: 10em;
		// text-align: right;
		// position: absolute;
		// right: 0;
		// top: 0;
	};
	// @media #{$medium-up} {
	// 	// position: absolute;
	// 	// right: 0;
	// 	// text-align: right;
	// }
}