%nav.top-bar{'data-topbar' => "", :role => "navigation"}
  %ul.title-area
    %li.name
      %h1
        %a{:href => "/"}
          Discovery
          %span FEEDBACK APP
  %section.top-bar-section
    %ul.right
      %li
        = link_to "About", page_path('about')